@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Italic-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

:root {
  --ion-font-family: "NotoSans", sans-serif;
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: var(--ion-background-color);
  ion-searchbar div {
    box-shadow: 0px 0px 2px var(--ion-color-dark);
  }
}

/* Custom shared styles */

.audio-info {
  flex: 1;
  overflow: hidden;
  min-width: 0;
  margin: 0 10px;
}

.audio-title,
.audio-artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audio-title {
  font-size: 0.9rem;
}

.audio-artist {
  font-size: 0.8rem;
}

.audio-duration {
  font-size: 0.6875rem;
  margin-right: 10px;
  color: var(--ion-color-medium);
}

.audio-actions {
  display: flex;
  gap: 5px;
  font-size: 20px;
}

.searchbar-loading {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}