@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Italic-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

:root {
  --ion-font-family: "NotoSans", sans-serif;
  --ion-safe-area-top: safe-area-inset-top;
  --ion-safe-area-bottom: safe-area-inset-bottom;
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: var(--ion-background-color);
  ion-searchbar div {
    box-shadow: 0px 0px 2px var(--ion-color-dark);
  }
}

/* Custom shared styles */

.audio-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 55px;
}

.audio-info {
  flex: 1;
  overflow: hidden;
  min-width: 0;
  margin: 0 10px;
}

.audio-title,
.audio-artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audio-title {
  font-size: 0.9rem;
}

.audio-artist {
  font-size: 0.8rem;
}

.audio-duration {
  font-size: 0.6875rem;
  margin-right: 10px;
  color: var(--ion-color-medium);
}

.audio-actions {
  display: flex;
  gap: 5px;
  font-size: 20px;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}